{% extends 'blog/main.html' %}
{% load static %}
{% block body %}
<div class="site-section" id="property-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel slide-one-item with-dots">
              <div><img src="media/{{about.image}}" alt="Hi!"></div>
              <div><img src="media/{{about.image_one}}" alt="Image" class="img-fluid"></div>
              <div><img src="media/{{about.image_two}}" alt="Image" class="img-fluid"></div>
          </div>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto">
          <div class="mb-5">
            <h3 class="text-black mb-4">Pujniya Baba ji And Guru Mata ji</h3>
            <p>{{ about.description|striptags }}</p>
            <div class="fb-like" data-href="" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div><br>

          </div>
          
          

        </div>
        
      </div>
    </div>
  </div>

{% endblock %}