{% extends 'blog/main.html' %}
{% load static %}
{% block body %}
<div class="site-section" id="property-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel slide-one-item with-dots">
              <div><img src="/media/{{singlenews.image}}" alt="media/{{singlenews.image}}"></div>
          </div>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto">
          <div class="mb-5">
            <h3 class="text-black mb-4">{{ singlenews.name|striptags }}</h3>
            <p>{{ singlenews.description|striptags }}</p>
            
            
          </div>
          
          

        </div>
        
      </div>
    </div>
  </div>


{% endblock %}