{% extends 'home/basic.html' %}
{% load static %}
{% block body %}
<div class="site-section" id="property-details">
    <div class="container">
	 <h2 class="section-title mb-3">Rules</h2>
      <div class="row">
        Guruji's doors were open to the high and low, poor and rich, and people of all religious affiliations. From the most ordinary of men to the most powerful of politicians, businessmen, bureaucrats, armed service personnel, doctors, and professionals, everyone came to seek his blessings. All were equally in need of him and Guruji blessed all alike. Those sitting close to him, touching his feet, benefitted as much as those seeking his blessing in their prayers anywhere in the world. What mattered most was complete surrender and unconditional faith reposed in him. Guruji was a giver, he never expected or took anything from anyone. "Kalyan karta", Guruji would say and "Blessings always" is what the devotee would get. He once explained that his "Blessings always" were not for this life alone, but ended with nirvana.
      </div>
    </div>
  </div>

{% endblock %}