{% extends 'home/basic.html' %}
{% load static %}
{% block body %}
<div class="site-section" id="property-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel slide-one-item with-dots">
            <div><img src="{% static 'images/test1.jpeg' %}" alt="Image" class="img-fluid"></div>
            <div><img src="{% static 'images/test1.jpeg' %}" alt="Image" class="img-fluid"></div>
            <div><img src="{% static 'images/test1.jpeg' %}" alt="Image" class="img-fluid"></div>
          </div>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto">
          <div class="mb-5">
            <h3 class="text-black mb-4">God</h3>
            <p><li>साम्ब सदाशिव शम्भो शङ्कर शरणं मे तव चरणयुगम्॥<br>ईशगिरीश नरेश परेश महेश बिलेशय भूषण भो।<br>साम्ब सदाशिव शम्भो शङ्कर शरणं मे तव चरणयुगम्॥<br>उमया दिव्य सुमङ्गल विग्रह यालिङ्गित वामाङ्ग विभो।<br>साम्ब सदाशिव शम्भो शङ्कर शरणं मे तव चरणयुगम्॥<br>ऊरी कुरु मामज्ञमनाथं दूरी कुरु मे दुरितं भो।<br>साम्ब सदाशिव शम्भो शङ्कर शरणं मे तव चरणयुगम्॥<br>ॠषिवर मानस हंस चराचर जनन स्थिति लय कारण भो।<br>साम्ब सदाशिव शम्भो शङ्कर शरणं मे तव चरणयुगम्॥<br>अन्तः करण विशुद्धिं भक्तिं च त्वयि सतीं प्रदेहि विभो।<br>साम्ब सदाशिव शम्भो शङ्कर शरणं मे तव चरणयुगम्॥<br>करुणा वरुणा लय मयिदास उदासस्तवोचितो न हि भो।<br>साम्ब सदाशिव शम्भो शङ्कर शरणं मे तव चरणयुगम्॥<br>जय कैलास निवास प्रमाथ गणाधीश भू सुरार्चित भो।<br>साम्ब सदाशिव शम्भो शङ्कर शरणं मे तव चरणयुगम्॥<br></li></p>
            <div class="fb-like" data-href="" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div><br>
            
            
          </div>
          
          

        </div>
        
      </div>
    </div>
  </div>

{% endblock %}